				<thead>
					<tr>
						<th scope="col">Insert Time</th>
						<th scope="col">Arrived at Server Time</th>
						<th scope="col">Received by Partner Time</th>
						<th scope="col">Played Time</th>
						<th scope="col">Read Time</th>
						<th scope="col">From</th>
						<th scope="col">To</th>
						<th scope="col">Message Type</th>
						<th scope="col">Message</th>
						<th scope="col">Status</th>
						<th scope="col">Broadcast</th>
						<th scope="col">Recipient Count</th>
						<th scope="col">Media URL</th>
						<th scope="col">Media Caption</th>
						<th scope="col">Media Duration</th>
						<th scope="col">Coordinates</th>
					</tr>
				</thead>
				<tbody>