				<thead>
					<tr>
						<th scope="col">From</th>
						<th scope="col">To</th>
						<th scope="col">Time</th>
						<th scope="col">Contents</th>
						<th scope="col">Sent</th>
						<th scope="col">Attachment Name</th>
						<th scope="col">Attachment Size KB</th>
						<th scope="col">Attachment Type</th>
						<th scope="col">Media URL</th>
						<th scope="col">Call Start Time</th>
						<th scope="col">Call Answered</th>
						<th scope="col">Call direction</th>
						<th scope="col">Voice Call duration (Min)</th>
					</tr>
				</thead>
				<tbody>