<html>
	<title>%s</title>
	<head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<style type="text/css">
		table{
			border-collapse: collapse;
			border-spacing: 0;
		}
		th,
		td{
			padding: 10px 15px;
		}
		thead{
			background: #395870;
			color: #fff;
		}
		tbody tr:nth-child(even){
			background: #f0f0f2
		}
		td{
			border-bottom: 1px solid #cecfd5;
			border-right: 1px solid #cecfd5;
		}
		td:first-child{
			border-left: 1px solid #cecfd5;
		}
	</style>
	</head>
	<body>
		<center>
			<table>
				<caption style="color:brown" style="font-family:georgia"><i><B> %d-%d-%d %d: %d: %d Found %d result(s)</B></i></caption>